body{
  background-color:#ffff80;
  font-family: sans-serif;
}
h2{
  color: green;
}
.naslov{
text-align: center;
background-color:#f3c913;
border-radius:25px;
color:#fff;

}
#proba3{
  color: #fff;}
 #proba5{
  color: blue;
}
#proba7{
  color: red;
}
#proba9{
  font-size: 20px;
  color: red;
}
#proba10 {
   color:blue;
   }

.container{
  padding: 20px;
  background-color: lightgrey;
  border-radius:25px;
}

.potpis{
  text-align: right;
  margin-top: 15px;

}
