body{
  background-color:#ffff80;
  font-family: sans-serif;
}
h2{
  color: #001b80;
  }
h3{color: #9911a0;
  }

.naslov{
text-align: center;
background-color:#f3c913;
border-radius:25px;
color:#fff;
padding: 25px;
margin-bottom: 5px;

}

  
  #demo16{
         width:90px;
         height:90px;
         }

#proba3{
  color: #fff;}
 #proba5{
  color: blue;
}
#proba7{
  color: red;
}
#proba9{
  font-size: 20px;
  color: red;
}
#proba10 {
   color:blue;
   }

.container{
  padding: 50px;
  background-color: lightgrey;
  border-radius:25px;
}

.potpis{
  text-align: right;
  margin-top: 15px;

}
/* animacija-animation */
#animo {
  width: 400px;
  height: 400px;
  position: relative;
  /* background: yellow; */
  border-radius: 10px;
  border: 5px solid blue;
}
#pokret {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
  border-radius: 5px 20px 5px;
}